.div1{
    background-color: purple;
    height: 400px;
}
.div2{
    background-color: blue;
    height: 400px;
}
.div3{
    background-color: yellow;
    height: 400px;
}
.div4{
    background-color: aqua;
    height: 400px;
}
.div5{
    background-color: coral;
    height: 100px;
}
.div6{
    background-color: chartreuse;
    height: 100px;
}
.div7{
    background-color: darkgoldenrod;
    height: 100px;
}
.div8{
    background-color: green;
    height: 100px;
}